@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model BlogFeedItemViewModel

<div class="blog_post_footer">
    <footer>
        <div class="footerContainer">
            Posted by: @Html.ActionLink(@Model.Author.UserName, "Details", "Users", null, null, null, new { userId = Model.Author.Id }, null)
            on @Model.CreatedAt
            @if (User.IsInRole("Administrator"))
            {
                <span style="float: right">
                    @Html.ActionLink("Delete", "Delete", "Blog", new { blogItemId = Model.Id }, null)
                    |
                    @Html.ActionLink("Edit", "Edit", "Blog", new { blogItemId = Model.Id }, null)
                </span>
            }
        </div>
        @Html.BlogShowCommentsButton(Model.Id)
    </footer>
</div>
