@using JCarrollOnlineV2.ViewModels.Blog
@model BlogFeedItemViewModel
@{
    Layout = "";
}

<div id="comment-dialog" class="commentFormClassDiv" title="Add Comment">
    @using (Html.BeginForm("CreateComment", "Blog", FormMethod.Post, new { @id = "commentForm", @class = "commentFormClass" }))
    {
        @Html.ValidationSummary(true)

        @Html.AntiForgeryToken()

        <span><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span>Enter your comment here:</span>
        <div style="margin-left: 23px;">
            @Html.Hidden("BlogItemId", Model.Id)
            @*@Html.Hidden("ReturnUrl", Model.ReturnUrl)*@
            @Html.TextArea("Author", "", 1, 40, new { @placeholder = "Name you want to be known by", @maxlength = 16 })
            @Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })

            @Html.TextArea("Content", "", 5, 40, new { @placeholder = "Type your comment here", @maxlength = 512 })
            @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })

            @*<button type="submit" style="background: none">Add Comment</button>*@
        </div>
    }
    <button type="submit" form="commentForm">Add Comment</button>
</div>
