@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.Entities
@model HierarchyNode<ForumThreadEntryDetailsItemViewModel>

@Html.Raw("<a class=\"anchor\" id=\"post" + Model.Entity.PostNumber + "\"/>")


<div class="reply-border">
        @Html.Partial("_ForumThreadHeaderPartial", Model.Entity)
    @{
        if(Model.Entity.CreatedAt != Model.Entity.UpdatedAt)
        {
            @Html.Raw("<p id='postEdited'>Last edited " + Model.Entity.UpdatedAt.ToString("f") + "</p>") 
        }
    }
        @Html.Partial("_ForumThreadContentPartial", Model.Entity)
        @Html.Partial("_ForumThreadFooterPartial", Model.Entity)
</div>
