@using JCarrollOnlineV2.ViewModels.ForumThreadEntries
@using JCarrollOnlineV2.HtmlHelpers
@model ThreadEntryDetailItemsViewModel

<table id="TOCTable">
    <tr id="TOCTableRow">
        <th id="TOCTableHeader">
            <img id="postDownArrow" src="~/Content/images/post-downarrow.gif" /> @Html.Raw(@Model.NumberOfReplies - 1 + " replies")
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.Author)
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.CreatedAt)
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.PostNumber)
        </th>
    </tr>
    <tbody id="#tocTableBody" class="section">
        @Html.Raw(Html.HierarchicalListView1("forumThreads", Model.ForumThreadEntries, l => l.ChildNodes, l => Html.Raw(Html.Partial("_ForumThreadEntryTOCItemPartial", l)).ToString()))
    </tbody>
</table>