
@using JCarrollOnlineV2.Entities
@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model ForumThreadEntryDetailItemsViewModel

<table id="TOCTable">
    <tr id="TOCTableRow">
        <th id="TOCTableHeader">
            @Html.Raw(@Model.NumberOfReplies + " replies")
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.Author)
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.CreatedAt)
        </th>
        <th id="TOCTableHeader">
            @Html.DisplayNameFor(model => model.ForumThreadEntries.First().Entity.PostNumber)
        </th>
    </tr>

    @Html.Raw(Html.HierarchicalListView1("forumThreads", Model.ForumThreadEntries, l => l.ChildNodes, l => Html.Raw(Html.Partial("_ForumThreadEntryTOCItemPartial", l)).ToString()))
</table>