@using Microsoft.AspNet.Identity
@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions

@model ForumThreadEntryDetailsItemViewModel

<div class="forum_thread_header">
    <header>
        <div class="row">
            <div class="col-md-6">
                <div class="userinfo">
                    @Html.ActionLink(Model.Author, "Details", "Users", null, null, null, new { userId = Model.AuthorId }, null)
                    @Html.Raw("(")
                    @Model.PostCount
                    @Html.Raw(" posts)")
                    <div class="header_title">
                        @Html.Raw(Model.PostNumber + ". " + Model.Title)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="threadinfo">
                    <div class="reply_to">
                        @{
                            if (Model.ParentId == null)
                            {
                                @Html.Raw("Original post")
                            }
                            else
                            {
                                @Html.Raw("Response to ");

                                @Html.ActionLink(Model.ParentAuthor + "(Reply #" + Model.ParentPostNumber + ")", "Details", "ForumThreadEntries", null, null, "post" + Model.ParentPostNumber, new { forumId = Model.ForumId, forumThreadEntryId = Model.RootId }, null);
                            }
                        }
                        <div class="created_at">
                            @Model.CreatedAt
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
