@using Microsoft.AspNet.Identity
@using MvcSiteMapProvider.Web.Html

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@Model.PageTitle - JCarrollOnline</title>
    <meta name="description" content="JCarrollOnlineV2 Website" />

    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-expand-sm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JCarrollOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li>@Html.ActionLink("Fora", "Index", "Fora")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Users", new { userId = User.Identity.GetUserId() }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sandbox", "Index", "Sandbox")</li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="@Model.PageContainer">
        <div class="container body-content">
            @Html.MvcSiteMap().SiteMapPath()
            @RenderBody()
            @Html.Partial("_FooterPartial")
        </div>

        @RenderSection("scripts", required: false)
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/myjsbundle")
    <script src="~/Content/lib/angular.js"></script>
    <script type="text/javascript">

    InitializeBlogComments();
    </script>
</body>
</html>
