@using Microsoft.AspNet.Identity
@using MvcSiteMapProvider.Web.Html

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@Model.PageTitle - JCarrollOnline</title>
    <meta name="description" content="JCarrollOnlineV2 Website" />

    @Styles.Render("~/bundles/css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        .red {
            color: white;
            background-color: red;
        }

        .green {
            color: white;
            background-color: green;
        }

        .blue {
            color: white;
            background-color: blue;
        }

        /* Breadcrumb styling */
        .breadcrumb {
            background-color: #f8f9fa;
            padding: 0.75rem 1rem;
            margin-bottom: 1rem;
            border-radius: 0.25rem;
        }

        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
            padding: 0 0.5rem;
            color: #6c757d;
        }

        .breadcrumb-item a {
            color: #007bff;
            text-decoration: none;
        }

            .breadcrumb-item a:hover {
                text-decoration: underline;
            }

        .breadcrumb-item.active {
            color: #6c757d;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/markdownDeep")
    @Scripts.Render("~/bundles/livestamp")
    @Scripts.Render("~/bundles/jcarrollonlinev2")

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat.js"></script>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        InitializeBlogComments();
    </script>
    <nav class="navbar fixed top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            @Html.ActionLink("JCarrollOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Fora", "Index", "Fora", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Profile", "Details", "Users", new { userId = User.Identity.GetUserId() }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Sandbox", "Index", "Sandbox", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Yellowstone Slideshow", "YellowStoneSlideShow", "Sandbox", new { area = "" }, new { @class = "nav-link" })</li>
                @if (User.IsInRole("Administrator"))
                {
                    <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="@Model.PageContainer">
        <div class="container body-content">
            @{
                var siteMap = Html.MvcSiteMap();
                var currentNode = siteMap.SiteMap.CurrentNode;
                var breadcrumbs = new List<MvcSiteMapProvider.ISiteMapNode>();

                // Build breadcrumb trail from current node to root
                var node = currentNode;
                while (node != null)
                {
                    breadcrumbs.Insert(0, node);
                    node = node.ParentNode;
                }

                // Only show breadcrumbs if we have more than 1 item (not just home)
                // or if we're not on the home page
                var controllerValue = ViewContext.RouteData.Values["controller"];
                var actionValue = ViewContext.RouteData.Values["action"];
                bool isHomePage = controllerValue != null && controllerValue.ToString() == "Home"
                                  && actionValue != null && actionValue.ToString() == "Index";

                if (!isHomePage && breadcrumbs.Count > 0)
                {
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            @for (int i = 0; i < breadcrumbs.Count; i++)
                            {
                                var crumb = breadcrumbs[i];
                                if (i == breadcrumbs.Count - 1)
                                {
                                    <li class="breadcrumb-item active" aria-current="page">@crumb.Title</li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item"><a href="@crumb.Url">@crumb.Title</a></li>
                                }
                            }
                        </ol>
                    </nav>
                }
            }
            @RenderBody()
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</body>
</html>