<!DOCTYPE html>
<html class="welcome_page_html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JCarrollOnline</title>
    <meta name="description" content="JCarrollOnlineV2 Website" />
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="welcome_page_body">
    <div class="@ViewBag.PageContainer">
        <div>
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
