@using Microsoft.AspNet.Identity
@using System.Web.Security
@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model MicropostFeedItemViewModel
<script src="jquery.js"></script>
<script src="moment.js"></script>
<script src="livestamp.js"></script>

<li class="micropost">
    <span class="gravatar">
        <a href='@Url.Action("Details", "Users", new { userId =  Model.Author.Id })' />
        @{
            @Html.Gravatar(Model.Author.Email, 52, new { @class = "gravatar", Title = "My Gravatar", Alt = "Gravatar" })
        }
        </a>
    </span>
    <div class="micropost">
        <span class="user">
            @Html.ActionLink(@Model.Author.UserName, "Details", new { userId = Model.Author.Id })
        </span>


        <span class="content">
            @Model.Content
        </span>
        <span class="timestamp">
            Posted <span data-livestamp="@Model.TimeAgo"></span>
        </span>
    </div>
</li>