@using Microsoft.AspNet.Identity
@using System.Web.Security
@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model MicropostFeedItemViewModel


<li class="micropost">
    <span class="gravatar">
        <a href='@Url.Action("Details", "Users", new { userId =  Model.UserId })' />
        @{
            @Html.Gravatar(Model.Email, 52, new { @class = "gravatar", Title = "My Gravatar", Alt = "Gravatar" });
        }
        </a>
    </span>
    <div class="micropost">
        <span class="user">
            @Html.ActionLink(@Model.UserName, "Details", new { userId = Model.UserId });
        </span>


        <span class="content">
            @Model.Content
        </span>
        <span class="timestamp">
        </span>
    </div>
</li>