@using JCarrollOnlineV2.ViewModels
@model HomeViewModel

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Micropost</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Micropost.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Micropost != null)
                {
                    @Html.EditorFor(model => model.Micropost.Content, new { htmlAttributes = new { @class = "form-control", @cols = 40, @rows = 20 } })
                    @Html.ValidationMessageFor(model => model.Micropost.Content, "", new { @class = "text-danger" })
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-large btn-primary" formaction='@Url.Action("Create", "Microposts")' />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






























@*<textarea cols="40" id="micropost_content" name="micropost[content]" placeholder="Compose new micropost (140 char max)..." rows="20"></textarea>
    @*<script>
        function textCounter(field, field2, maxlimit) {
            var countfield = document.getElementById(field2);
            if (field.value.length > maxlimit) {
                field.value = field.value.substring(0, maxlimit);
                return false;
            } else {
                countfield.value = maxlimit - field.value.length;
            }
        }
    </script>
    <div class="actions">
        @*<%= f.submit "Post", class: "btn btn-large btn-primary" %>
        @*<p class="center">
        @Html.ActionLink("Post", "Create", "Microposts", null, new { @class = "btn btn-large btn-primary" })
        </p>
    </div>*@
