@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model UserItemViewModel

<li>
    <div class="user_item">
        <a href='@Url.Action("Details", "Users", new { userId = Model.User.Id })'>
            @{
                @Html.Gravatar(Model.User.Email, 52, new { Title = "My Gravatar", Alt = "Gravatar" });
            }
        </a>
        <span>
            @Html.ActionLink(Model.User.UserName, "Details", new { userId = Model.User.Id })
        </span>

        @if (User.IsInRole("Administrator"))
        {
            @Html.Raw(" | ")
            <span>
                @Html.ActionLink("Delete", "Delete", new { userId = Model.User.Id })
            </span>
        }
    </div>
</li>