@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.HtmlHelperExtensions
@model ForumThreadEntryIndexViewModel

@{
    Model.PageTitle = Model.Forum.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.Forum.Title</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().Replies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().LastReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().Recs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadEntryIndex.First().Views)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ForumThreadEntryIndex)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { forumId = item.Forum.Id, id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
        </tr>
    }
</table>
<p class="text-center">
    @Html.ActionLink("Create New", "Create", "ForumThreadEntries", new { forumId = Model.Forum.Id }, new { @class = "btn btn-large btn-primary" })
</p>
