@using JCarrollOnlineV2.CustomHtmlHelpers
@using JCarrollOnlineV2.ViewModels
@model ForumThreadEntryIndexViewModel

@{
    Model.PageTitle = Model.ForumTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.ForumTitle</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().Replies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().LastReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().Recs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumThreadIndexEntries.First().Views)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ForumThreadIndexEntries)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { forumId = item.ForumId, forumThreadEntryId = item.ForumThreadEntryId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replies)
            </td>
            <td>
                @UserInfoHtmlHelper.GetAuthor(item.AuthorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @ForumHelper.GetLatestThreadPostDate(item.RootId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
        </tr>
    }
</table>
<p class="text-center">
    @Html.ActionLink("Create New", "Create", "ForumThreadEntries", new { forumId = Model.ForumId }, new { @class = "btn btn-large btn-primary" })
</p>
