@using JCarrollOnlineV2.ViewModels.ForumThreadEntries
@model ThreadEntryIndexViewModel

@{
    Model.PageTitle = Model.Forum.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@Model.Forum.Title</h1>
<p class="float-right">
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Create New Thread", "AdminCreate", "ForumThreadEntries", new { forumId = Model.Forum.Id }, new { @class = "btn btn-large btn-primary" })
    }
    else
    {
        @Html.ActionLink("Create New Thread", "Create", "ForumThreadEntries", new { forumId = Model.Forum.Id }, new { @class = "btn btn-large btn-primary" })
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().Replies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().LastReply)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().Recs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadEntryIndex.First().Views)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ThreadEntryIndex)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { forumId = item.Forum.Id, id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Replies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReply)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to the Fora", "Index", "Fora")
