@using JCarrollOnlineV2.ViewModels
@using Microsoft.AspNet.Identity
@model UserDetailViewModel

@{
    Model.PageTitle = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <aside class="col-md-4">
        <section>
            @{
                Model.UserInfoVM.PageTitle = Model.PageTitle;
            }
            @Html.Partial("_UserInfoPartial", Model.UserInfoVM)
        </section>
        <section>
            @Html.Partial("_UserStatsPartial", Model.UserStatsVM)
        </section>
        <section>
            @if (@Model.UserInfoVM.UserId != @Model.UserInfoVM.User.Id)
            {
                @Html.Partial("_FollowFormPartial", Model)
            }
            else
            {
                @Html.Partial("_UserSettingsPartial", Model.UserInfoVM)
            }
        </section>
    </aside>
    <aside class="col-md-4">
        @{
            <section>
                @Html.Raw("<h1>" + Model.PageTitle + "</h1>")
            </section>
            <section>
                <h2>Following</h2>
                <ul>
                    @if (Model.UserStatsVM.UsersFollowing.Users.Count > 0)
                    {
                        foreach (var user in Model.UserStatsVM.UsersFollowing.Users)
                        {
                            if (user.User.Id != Model.UserInfoVM.UserId)
                            {
                                @Html.Partial("_UserInfoPartial", user)
                            }
                        }
                    }
                    else
                    {
                        <li>None</li>
                    }
                </ul>
                <h2>Followers</h2>
                <ul>
                    @if (Model.UserStatsVM.UserFollowers.Users.Count > 0)
                    {
                        foreach (var user in Model.UserStatsVM.UserFollowers.Users)
                        {
                            if (user.User.Id != Model.UserInfoVM.UserId)
                            {
                                @Html.Partial("_UserInfoPartial", user)
                            }
                        }
                    }
                    else
                    {
                        <li>None</li>
                    }
                </ul>
            </section>
        }
    </aside>
</div>