@using JCarrollOnlineV2.ViewModels.Users
@model UserDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <aside class="col-md-4">
            <section>
                @Html.Partial("_UserInfoPartial", Model.UserInfoViewModel)
            </section>
            <section>
                @Html.Partial("_UserStatsPartial", Model.UserStatsViewModel)
            </section>
        </aside>
        <aside class="col-md-4">
            @{
                <section>
                    @Html.Raw("<h1>" + Model.PageTitle + "</h1>");
                </section>
                <section>
                    <ul>
                        @if (Model.PageTitle == "Following")
                        {
                            foreach (var user in Model.UserStatsViewModel.UsersFollowing.Users)
                            {
                                @Html.Partial("_UserInfoPartial", user)
                            }
                        }
                        else
                        {
                            foreach (var user in Model.UserStatsViewModel.UserFollowers.Users)
                            {
                                @Html.Partial("_UserInfoPartial", user)
                            }

                        }
                    </ul>
                </section>
            }
        </aside>
    </div>
</div>