@using JCarrollOnlineV2.Entities
@using JCarrollOnlineV2.ViewModels
@using JCarrollOnlineV2.CustomHtmlHelpers
@model ForaIndexViewModel

@{
    Model.PageTitle = "Fora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Fora</h1>

<div class="center-block">
    <table class="table-striped table-bordered" cellpadding="10" id="fora_index">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ForaIndexItems.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForaIndexItems.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForaIndexItems.First().ThreadCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForaIndexItems.First().LastThread)
            </th>
        </tr>

        @foreach (var item in Model.ForaIndexItems)
        {
            <tr>
                <td>
                    <div class="rowTitle">
                        @Html.ActionLink(item.Title, "Index", "ForumThreadEntries", new { forumId = item.ForumId }, null)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreadCount)
                </td>
                <td>
                    @{
            if (item.LastThread != null)
            {
                @Html.Partial("_LastThreadPartial", item.LastThread);
            }
            else
            {
                @Html.Raw("None");
            }
                    }
                </td>
            </tr>
        }
    </table>
    <p class="text-center">
        @Html.ActionLink("Create New", "Create", "Fora", new { @class = "btn btn-large btn-primary" })
    </p>
</div>
